footer{
    background-color: #FB5;
    color: black;
    height: 50px;
    padding: 5px;
    width: 94.5%;
    float: right;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

@media screen and (max-width: 769px) {
    footer{
        width: 100%;
    }
}