*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Helvetica', Arial, sans-serif;
    padding-left: calc(100% / 5);
    background-color: #faf6ed;
}

@media screen and (max-width: 769px) {
    body{padding-left: 0px;}
}